
@model List<Stock>

<link rel="stylesheet" href="~/css/stock_compact.css">

@foreach (Stock stock in Model)
{
    double openPrice = float.Parse(stock.Open);
    double closePrice = float.Parse(stock.Close);
    double percentage = ((closePrice - openPrice) / openPrice) * 100;

    percentage = Math.Round(percentage, 2);
    
    <div class="individual-stock" onclick="openModalView({
        symbol: '@(stock.Symbol)',
        open: '@(stock.Open)',
        close: '@(stock.Close)',
        volume: '@(stock.Volume)',
        logo: '@(stock.Logo)',
        low: '@(stock.Low)',
        high: '@(stock.High)'
    })">
        <div class="ticker">
            <h4>@stock.Symbol</h4>
        </div>
        <div class="logo-container">
            <div class="fake-img"></div>
        </div>
        <div class="price">
            <h4>$@stock.Close</h4>
            @if(percentage < 0)
            {
                <p style="color: red;">@percentage%</p>
            }
            else
            {
                <p style="color: green;">+@percentage%</p>
            }
        </div>
    </div>
}

